*, *:before, *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

textarea,
input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
input[type="email"] {
    -webkit-appearance: none;
    border-radius: 0;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.input-error {
    color: $color-error;
    display: block;
    font-size: $font-size-minor;
    margin-top: 5px;
}

.input-notice {
    font-size: $font-size-minor;
    color: $color-grey;
    font-weight: bold;
}

.fade-enter-active {
    @include transition(1s);
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}


// Button styles
.btn {
    @include btn-default;
    
    &--submit {
        @include btn-default($color-blue);
    }
    
    &--cancel {
        @include btn-default($color-red, 11%);
    }
    
    &--add {
        padding: 10px 25px;
        margin-right: 0;
    }
}
